body {
  background-color: #42aaf5;
  font-family: "Arial";
  text-align: center;
  color: white;
}

h1 {
  color: #e6ba1e;
  text-align: center;
}

p {
  font-size: 20px;
}
  
.sect {
  padding: 30px;
}
  
.image {
  margin: 0px 20px;
  height: 200px;
}
